# There are two types of .gitignore templates:
#
# 1. Project - language or framework specific
# 2. Global  - operating system or editor specific
#
# The former belongs in the .gitignore for that particular project,
# while the latter belongs here.
#
# More suggestions for .gitignore templates can be found at:
# https://github.com/github/gitignore

#################
# Linux / macOS #
#################

# Folder config files
.DS_Store

# Thumbnail cache files
._*

###########
# Windows #
###########

# Folder config files
Desktop.ini

# Thumbnail cache files
Thumbs.db

#######
# Vim #
#######

# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

# Session
Session.vim

# Temporary
.netrwhist
*~

#################
# Sumblime Text #
#################

# Workspace files
*.sublime-workspace

# Cache files
*.stTheme.cache
*.tmlanguage.cache
*.tmPreferences.cache
