[alias]

    # Abbreviated command names
    ad = add
    br = branch
    ci = commit
    co = checkout
    di = diff
    re = rebase
    st = status

    # See changes since branching off of develop
    changes = diff develop...HEAD

[color]

    # Use colors in Git commands that are capable of colored output
    ui = auto

[commit]

    # Automatically sign using GPG keys
    gpgsign = true

[core]

    # Set the default editor
    editor = vim

    # Use global .gitignore file to ignore certain filetypes
    excludesfile = ~/.gitignore

[diff]

    # Use vimdiff as the default difftool
    tool = vimdiff

[difftool]

    # Disable the prompt asking you if you want to open with vimdiff
    prompt = False

[merge]

    # Use vimdiff as the default mergetool
    tool = vimdiff

[mergetool]

    # Disable the prompt asking you if you want to open with vimdiff
    prompt = False

[push]

    # Unless otherwise specified, push the current branch to a remote branch of the same name
    default = current

[rerere]
    
    # Reuse recorded resolution of conflicted merges
    enabled = true

[user]

    # Set user commit information
    email = ajstewart426@gmail.com
    name = Adam J. Stewart
    signingkey = C66C0675661156FC
